<% layout('layouts/boilerplate.ejs') %>

<form action="/products/new" method="post">
    Name: <input type="text" name="name">
    Base Price: <input type="number" name="basePrice">
    image: <input type="text" name="image">
    <button>submit</button>
</form>