<% layout('layouts/boilerplate.ejs') %>

<form action="/users/register" method="post">
    email: <input type="email" name="email">
    username: <input type="text" name="username">
    password: <input type="password" name="password">
    <button>Register</button>
</form>